<h2>ngIf and ngFor</h2>
<button (click)="toggle()">Toggle</button> Flag1 {{ flag1 }}

<div class="notification is-link" *ngIf="flag1">

    {{flag1}}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio numquam tempore vitae itaque ex velit
    ducimus illo alias debitis expedita quidem nisi, odit labore recusandae consequuntur veritatis fugiat explicabo.
</div>

<button (click)="stage=stage+1">+</button>
<button (click)="stage=stage-1">-</button>

<div class="center-it notification is-info" *ngIf="stage === 1">
    Stage is info
</div>
<div class="center-it notification is-danger" *ngIf="stage === 2">
    Stage is Danger
</div>
<div class="center-it notification" *ngIf="stage !== 1 && stage !== 2">
    Stage is NA  {{stage}}
</div>

