<app-page header="ng-container example">
    <div page-content>
        <div class="note">
            <span highlight='cyan'> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> Architecto
            reiciendis rem minima voluptatem
            <span highlight>blanditiis pariatur excepturi aspernatur odit.</span> Modi ratione voluptates animi dolorum
            ipsa unde aliquid?
            Labore placeat impedit veritatis!
        </div>


        <table class="table" highlight='green'>
            <tbody>
                <ng-container *ngFor="let item of items">
                    <tr *ngIf="item.category==='A'">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td> {{item.category}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div page-footer>
        <button (click)="save()">Save</button>
        <button (click)="getNextSeq()">Next Seq</button>
    </div>
</app-page>