<div class="container">

    <h2 class="title is-3">ngFor Example</h2>

    <input #colorinput type="text">
    <!-- {{ colorinput }} -->
    <button (click)="addColor(colorinput)" class="button btn-success is-small">Add Color</button>

    <ul>
        <li *ngFor="let color of colors; let cindx = index;let first = first; let last = last; let even=even;let odd=odd;">
            {{cindx+1}} <span [style.backgroundColor]="color" style="border:1px solid;width:16px;height: 16px;display: inline-block"></span>
            <span [class.has-text-weight-bold]="last || first"> {{ color }}</span>

            Index => {{cindx}} First=> {{first | yesno}} Last=> {{last | yesno}} Even=> {{ even | yesno | lowercase }} Odd=> {{odd | yesno}}
            <button (click)="delete(cindx)">Delete</button>
        </li>
    </ul>


    <h2 class="title is-3">Line items</h2>
    <div *ngIf="lineItems">
        Total {{ lineItems.length }} records
        <table class="table is-bordered">
            <tbody>
                <tr *ngFor="let item of lineItems;let index = index;">
                    <td> <input [checked]="checkone" type="checkbox"> </td>
                    <td> {{ index+1 }} </td>
                    <td>{{ item.title | uppercase }}</td>
                    <td>{{ item.desc | lowercase }}</td>

                    <!-- Pipe chaining -->
                    <td> {{item | json | lowercase}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!lineItems">No item</div>

    <button *ngIf="!lineItems" (click)="fillItems()">Fill Items</button>
    <button (click)="checkone=!checkone">Toggle</button>
</div>