<h4>Property + Event Binding Example</h4>
<div [class]="customClass" [id]="customId">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Soluta ut dolores illo est assumenda quam explicabo officiis
    voluptas eaque maxime quae facere, a, beatae impedit sit odit
    provident eum et!

    <button class="btn" (click)="customId='changed-id'">Change</button>
    <button (click)="customClass='has-background-danger'">Danger</button>
    <button (click)="customClass='has-background-info'">Info</button>
    <button (mouseenter)="customId = 'enter'" (mouseout)="customId='out'">Toggler</button>

    <button (click)="sayHello()">Say Hello</button>
    <button (click)="captureEvent($event)">Capture Event</button>
    <button (mouseover)="captureEvent($event)">Capture Event</button>
</div>

(click)

onmouseover