<app-header></app-header>
<div class=" section ">
  <div class="columns">
    <div class="column is-2">
      <div class="card">
        <div class="card-content">
          <ul>
            <li><a routerLink="/home/interpolation" routerLinkActive="active">Interpolation</a></li>
            <li><a routerLink="/home/property-binding" routerLinkActive="active">Property Binding</a></li>
            <li><a routerLink="/home/conditional" routerLinkActive="active">conditional</a></li>
            <li><a routerLink="/home/container" routerLinkActive="active">container</a></li>
            <li><a routerLink="/home/input" routerLinkActive="active">input</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>


