
.card {
    width:400px;
    text-align: center;
    margin:0 auto;
    margin-top: 1rem;
    
    b {
        display: block;
        padding:.5em;
    }


input {
    display: block;
    width:93%;
    margin-bottom: 10px;
    padding:1em;
    outline: none;

    &.ng-invalid {
        border:1px solid tomato;
    }
    &.ng-valid {
        // background: lightgreen;
        border:1px solid green;
    }
}


}