<h3 class="title is-3">List</h3>
<button class="button is-primary" (click)="fetchList()">Fetch User</button>
<button class="button is-link" (click)="fetchPost()">Fetch Post</button>

<hr>
<div *ngIf="loading">Loading....</div>
<form [formGroup]="filterForm">
  <div class="columns">

  
  <div class="column is-3">
    <input placeholder="Filter name" formControlName="name">
  </div>
  <div class="column is-3">
    <input placeholder="Filter brand" formControlName="brand">
  </div>
  <div class="column is-3">
    <input placeholder="Filter Quantity" formControlName="quantity">
  </div>
  <div class="column is-3">
<button class="button is-primary" (click)="filter()">Filter</button>
<button class="button" (click)="clear()">Clear</button>
</div>
</div>
</form>


<table class="table is-bordered">
  <thead>
    <tr>
      <td>Image</td>
      <td>Name</td>
      <td>Quantity</td>
      <td>Brand</td>
      <td>Price</td>
      <td>#</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of inventory">
      <td>
        <img style="width: 100px;height: 50px" *ngIf="item.image" src="{{imagePath+item.image}}">
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.quantity}}
      </td>
      <td>
        {{item.brand}}
      </td>
      <td>
        {{item.originalPrice}}
      </td>
      <td>
        <button pButton label="View" (click)="viewDetail(item)"></button>
        <button pButton label="Add to cart" (click)="cart.addToCart(item)"></button>
        <a pButton label="Edit" class="ui-button-secondary" [routerLink]="['../edit-inventory',item._id]"></a>
      </td>
    </tr>
  </tbody>
</table>

<p-dialog header="Inventory Detail" [(visible)]="showDetails" [modal]="true" [responsive]="true"
  [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  
<app-adm-item-details [ref]="selected?._id"></app-adm-item-details>
</p-dialog>
<!--
<div *ngIf="list && list.length">
<h4 class="title is-4">Users List</h4>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list;let index=index">
        <td> {{index+1}} </td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.website}}</td>
      </tr>
    </tbody>
  </table>

  </div>

  <div *ngIf="posts && posts.length">
      <h4 class="title is-4">Posts </h4>
        <table class="table is-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Title</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts;let index=index">
              <td> {{index+1}} </td>
              <td>{{post.title}}</td>
            </tr>
          </tbody>
        </table>
      
        </div>
      -->