<h3 class="title is-3">List</h3>
<button class="button is-primary" (click)="fetchList()">Fetch User</button>
<button class="button is-link" (click)="fetchPost()">Fetch Post</button>

<hr>
<div *ngIf="loading">Loading....</div>
<table class="table is-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Quantity</td>
      <td>Brand</td>
      <td>Price</td>
      <td>#</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of inventory">
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.quantity}}
      </td>
      <td>
        {{item.brand}}
      </td>
      <td>
        {{item.originalPrice}}
      </td>
      <td>
        <button pButton label="View" (click)="viewDetail(item)"></button>
        <a pButton label="Edit" class="ui-button-secondary" [routerLink]="['../edit-inventory',item._id]"></a>
      </td>
    </tr>
  </tbody>
</table>

<p-dialog header="Inventory Detail" [(visible)]="showDetails" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '200px'}" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
    <div *ngIf="selected">
     <div>
       Name:  {{ selected.name }}
      </div>
       
      <div>
        Details: {{ selected.details.detailDescription }}
      
        <table class="table is-bordered">
          <thead>
            <tr>
              <th>Label</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feature of selected.details.features">
              <td>
                {{feature.label}}
              </td>
              <td>{{feature.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>

     </div>
       
</p-dialog>
<!--
<div *ngIf="list && list.length">
<h4 class="title is-4">Users List</h4>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list;let index=index">
        <td> {{index+1}} </td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.website}}</td>
      </tr>
    </tbody>
  </table>

  </div>

  <div *ngIf="posts && posts.length">
      <h4 class="title is-4">Posts </h4>
        <table class="table is-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Title</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts;let index=index">
              <td> {{index+1}} </td>
              <td>{{post.title}}</td>
            </tr>
          </tbody>
        </table>
      
        </div>
      -->