<app-header></app-header>
<div class="app-content">
  <!-- <app-interpolation></app-interpolation> -->
  <!-- <app-interpolation></app-interpolation>
  <app-interpolation></app-interpolation>
  <app-interpolation></app-interpolation>
  <app-interpolation></app-interpolation> -->

  <!-- <app-property-binding></app-property-binding> -->

  <!-- <app-ngclass-style></app-ngclass-style> -->

  <!-- <app-conditional></app-conditional> -->
    
  <!-- <app-ngfor></app-ngfor> -->

  <!-- <app-todo></app-todo> -->
  <!-- <app-message [message]="status" description="Please hurry!" (onOk)="taketoPaymentPage($event)"></app-message>
  <app-message message="{{status}}"></app-message> -->
  <!-- <app-input></app-input> -->

  <app-container></app-container>
</div>
<!-- <app-footer></app-footer> -->
